@import "def";

body{
  background: #fafafa;
  margin: 0;
  text-decoration: none;
  color: #424242;
  font-family: 'Lato', Arial, sans-serif;
}

h1,
h2,
h3 {
  color: #616161;
  font-weight: 300;
}

#page-content {
  max-width: $content-max-width;
  min-width: $content-min-width;
  margin: 0 auto;
  height: calc(100% + 80px);
  position: relative;
}